<div style="border-style: solid; padding: 5px; margin: 5px; position: relative;">
    <app-state-machine-graph></app-state-machine-graph>
</div>

<div style="border-style: solid; padding: 5px; margin: 5px; position: relative;">
    <app-state-machine-outlet></app-state-machine-outlet>
</div>

<div style="border-style: solid; padding: 5px; margin: 5px; position: relative;">
    <app-state-machine-state></app-state-machine-state>
</div>

<div style="border-style: solid; padding: 5px; margin: 5px; position: relative;">
    <app-state-machine-records></app-state-machine-records>
</div>
